body{
    background: url(nightsky.jpg);
    background-size: cover;
}
.conten{
    border: 2px dashed;
    padding: 5px auto ;
    border-radius: 20px;
    text-align: center;
    color:white;
    max-width: 1080px;
    margin: 11vh auto ;  
}

table{
    text-align: center;
    overflow-x: auto;
    width: 90%;
     border-collapse: collapse;
     margin: 0 auto;  
}
#kotak{
    border: 2px dashed whitesmoke;
    background-color: rgb(39, 105, 172);
    margin: 20px auto;
    
}
th{
    width: auto;
    height: 35px;
}
th:hover{
    background-color: #1bc7fa ;
}
h2:hover{
    color: aquamarine;
}