body{
    background: url(nightsky.jpg);
    background-size: cover;
    min-height: 100vh;
}
.conten{
    border: 2px dashed;
    padding: 20px ;
    border-radius: 20px;
    text-align: center;
    color:white;
}

table{
    text-align: center;
    overflow-x: auto;
    width: 90%;
     border-collapse: collapse;
     margin: 0 auto;  
}
#kotak{
    border: 2px dashed whitesmoke;
    background-color: rgb(39, 105, 172);
    margin: 20px auto;
    
}
th{
    width: auto;
    height: auto;
}
th:hover{
    background-color: #1bc7fa ;
}
h2:hover{
    color: aquamarine;
}